{% extends "main.html" %}

{% block page_name %}
Cats on Skis
{% endblock %}

{% block content %}
<section class="section">
  <div class="container has-text-centered">
    <h1 class="title is-2">Welcome to Cats on Skis!</h1>
    <p class="subtitle">Discover fearless feline skiers. Click one to learn more!</p>

    <div class="columns is-centered">
      {% for cat in cats %}
      <div class="column is-4">
        <div class="box has-text-centered p-5">
          <figure class="image is-200x200 is-inline-block mb-4">
            <img src="{{ url_for('images', image=cat.image) }}" alt="{{ cat.name }}">
          </figure>
          <h3 class="title is-5">{{ cat.name }}</h3>
          <a class="has-text-link" href="{{ url_for('pages', name=cat.slug) }}">Read more</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
